{% extends "case.html" %}{% block title %}Welome to your Barbering page{% endblock %}
{% block content %}
<section class="bg-light mt-5">
    <div class="container-lg">
        <div class="text-center">
            CHOOSE THE SERVICE YOU WANT
        </div>
        <div class="row my-5 align-text-center justify-content-center">
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/bar1.jpg" class="card-img-top" alt="logo barber shop">
                    <div class="card-body">
                        <h5 class="card-title">Logo barber shop</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
            <br>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/bar2.jpg" class="card-img-top" alt="lorem ipsum" style="height: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title">Lorem ipsum dolor barber shop</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
            <br>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/bar3.jpg" class="card-img-top" alt="your shop barber shop">
                    <div class="card-body">
                        <h5 class="card-title">Your shop barber shop</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
            <br>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/bar4.jpg" class="card-img-top" alt="stylist barber shop" style="height: 23rem;">
                    <div class="card-body">
                        <h5 class="card-title">Stylist barber shop</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/bar5.jpeg" class="card-img-top" alt="Aarley barbershop" style="height: 23rem;">
                    <div class="card-body">
                        <h5 class="card-title">Aarley Barbershop</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
            <br>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/bar6.jpeg" class="card-img-top" alt="Rea;men barber shop" style="height: 23rem;">
                    <div class="card-body">
                        <h5 class="card-title">Realmen barber shop</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/bar7.jpg" class="card-img-top" alt="professional cleaning services" style="height: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title">Professiona cleaning servces</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/bar8.jpg" class="card-img-top" alt="flint">
                    <div class="card-body">
                        <h5 class="card-title">Bizname</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}