{% extends "case.html" %}{% block title %}Welcome to your Decoration page{% endblock %}
{% block content %}
<section class="bg-light mt-5">
    <div class="container-lg">
        <div class="text-center">
            CHOOSE THE SERVICE YOU WANT
        </div>
        <div class="row my-5 align-text-center justify-content-center">
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/decor1.jpg" class="card-img-top" alt="logo barber shop" style="height: 23rem;">
                    <div class="card-body">
                        <h5 class="card-title">Lorem ipsum</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
            <br>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/decor2.jpg" class="card-img-top" alt="lorem ipsum" style="height: 23rem;">
                    <div class="card-body">
                        <h5 class="card-title">Lorem ipsum</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
            <br>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/decor3.jpg" class="card-img-top" alt="your shop barber shop" style="height: 23rem;">
                    <div class="card-body">
                        <h5 class="card-title">Lorem ipsum</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
            <br>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/decor4.jpg" class="card-img-top" alt="stylist barber shop" style="height: 23rem;">
                    <div class="card-body">
                        <h5 class="card-title">Lorem ipsum</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/decor5.jpg" class="card-img-top" alt="Aarley barbershop" style="height: 23rem;">
                    <div class="card-body">
                        <h5 class="card-title">Lorem Ipsum</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
            <br>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/decor6.jpg" class="card-img-top" alt="Rea;men barber shop" style="height: 23rem;">
                    <div class="card-body">
                        <h5 class="card-title">Lorem ipsum</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/decor7.jpg" class="card-img-top" alt="professional cleaning services" style="height: 23rem;">
                    <div class="card-body">
                        <h5 class="card-title">Lorem ipsum</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/decor8.jpg" class="card-img-top" alt="flint" style="height: 23rem;">
                    <div class="card-body">
                        <h5 class="card-title">Lorem ipsum</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}