{% extends "case.html" %}{% block title %}Welcome to Spring Home Page{% endblock %}
{% block content %}
<section class="bg-light mt-5">
    <div class="container-lg">
        <div class="text-center">
            CHOOSE THE SERVICE YOU WANT
        </div>
        <div class="row my-5 align-text-center justify-content-center">
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/bar3.jpg" class="card-img-top" alt="yourshop">
                    <div class="card-body">
                        <h5 class="card-title">Your shop</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/barbering" class="btn btn-primary">VIew</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/car1.jpeg" class="card-img-top" alt="profrssional car wash" style="height: 24rem;">
                    <div class="card-body">
                        <h5 class="card-title">Professional car wash</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/carwash" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/decor1.jpg" class="card-img-top" alt="company interior design">
                    <div class="card-body">
                        <h5 class="card-title">Company interior design</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/decoration" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/clean2.jpg" class="card-img-top" alt="Afejason" style="height: 23rem;">
                    <div class="card-body">
                        <h5 class="card-title">Afejason</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/cleaning" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/decor2.jpg" class="card-img-top" alt="simon's painting & decorating" style="height: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title">Simon's painting & decoring</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/decoration" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/car3.jpeg" class="card-img-top" alt="rimberio car wash" style="height: 23rem;">
                    <div class="card-body">
                        <h5 class="card-title">Rimberio car wash</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/carwash" class="btn btn-primary">VIew</a>
                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/decor3.jpg" class="card-img-top" alt="professional cleaning services" style="height: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title">Professional cleaning servces</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/decoration" class="btn btn-primary">VIew</a>
                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="static/clean3.jpg" class="card-img-top" alt="flint">
                    <div class="card-body">
                        <h5 class="card-title">Bizname</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/cleaning" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}